*{
  margin: 0;
  padding: 0;
}

body{
  margin: -10px 120px;
  scroll-behavior: smooth;
  /* position: fixed; */
}

.h1{
  margin: 20px 0px;
}
.main{
  font-family: "Poppins", sans-serif;
  /* display: flex; */
  
}
.main .service-img img{
  mix-blend-mode: color-burn;
  margin-top: -60px;
}
.hero-section{
    display: flex;
    justify-content: space-between;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}